{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 jumbotron">
                <h2>Forgotten your password?</h2>
                <p>Enter your e-mail address to obtain a new password.</p>
                <form action="." method="post">
                {{ form |crispy }}
                <p><input type="submit" value="Send e-mail" class="btn btn-block btn-success"></p>
                {% csrf_token %}
                </form>
        </div>
    </div>
</div>

{% endblock %}