#header ul li {

    display:inline-block;
    margin:10px;
  
    color:lightgrey;
    
}

#header ul li a{
    color:white;
    text-decoration:none;
}

.menu {
    position:relative;
    left:500px;

}
#header ul li .logo {
    position:fixed;
    left:10px;
}


#header {
    color:white;
    background-color: seagreen;
    padding:10px;
    height: 10%;
    font-size: 18px;
    border-radius:6px;
    
}
p {
    display: block;
}

/*
#content {
    width:900px;
    margin:auto;

}
#content input {
  display:block;
  margin-top:30px;
  border-radius:4px;
  height: 20px;
  margin:auto;
 
    
}
#content input[type='submit'] {
    width: 150px;
    height:30px;
    background-color:seagreen;
    color:white;

      
  }
  #content p {
      text-align:center;
      margin-bottom:20px;
      font-weight: bold;
  }

hr {
    font-size:20pt;
}
.login-form {
    background-color:slategray;
    padding:10px;
    border-radius:6px;
  
}

*/

.jumbotron {
    background-color:mediumaquamarine;
}